<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138791468953-rndb195k5b20jfd67csssa1ndbgr5ine.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138791468953-rndb195k5b20jfd67csssa1ndbgr5ine</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>138791468953-2ufftg5cm8abcih02d88bgtn2cqa7cd4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGBQtMzsW-EwE_S-PpNZgXcuV9JdDQ90c</string>
	<key>GCM_SENDER_ID</key>
	<string>138791468953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2b9ef</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2b9ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138791468953:ios:6eaacbfca2db57ddbf5d08</string>
</dict>
</plist>